config SHIELD_KLOTZ_ESB
    def_bool $(shields_list_contains,klotz_esb)

config SHIELD_KLOTZ_ESB_LEFT
    def_bool $(shields_list_contains,klotz_esb_left)

config SHIELD_KLOTZ_ESB_RIGHT
    def_bool $(shields_list_contains,klotz_esb_right)
